h1 {
    font-family:'Courier New', Courier, monospace
}
a {
    text-decoration: none;
    color:#B2B2B2;
}

.header li {
    list-style: none;
    margin: 10px;
    
}


.header {
    background-color:#F8C8DC;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 0;
    justify-content: space-between;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
    .menu {
        display: flex;
        margin: 10px;
        flex-flow: wrap;
        gap: 10 px;
    
 }
    .logo {
        color:#B2B2B2;
        padding: 10 px;
        margin: 10px;
    }

.introduction {
    background-image: url("images/sunset.jpg");
    background-color: aliceblue;
    background-size:cover;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

    .main-picture{
        position: relative;
        width: 50%;
        height: auto;
        margin: 50px;
        border-radius: 15px;
       
    }

.categories {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
}

    .one, .two, .three {
        display: flex;
        flex-flow: column;
        gap: 10px;
    }

    .relationship, .culture, .english {
        max-width: 300px;
        height: auto;
        border-radius: 15px;
        

    }


    /* Dropdown Button */
.dropbtn {
    background-color: #F8C8DC;
    color: #B2B2B2;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #ffffff;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}